<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.mx/thymeleaf/layout">
    <head>
        <meta charset="utf-8">
        <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Projet Réservations</title>
	<th:block layout:fragment="css">
	</th:block>
    </head>
    <body>
        <div th:replace="fragments/header :: header">Header here</div>
        <div class="container">
            <div layout:fragment="content">Main content will be inserted here.</div>
        </div>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" />

    </body>
</html>
